.dashboard-container {
    display: flex;
    height: calc(100vh - 80px);
}

.content-area {
    margin-left: 250px; /* Sidebar width */
    margin-top: 100px;
    padding: 20px;
    background-color: #f4f4f4;
    height: calc(100% -100px); 
    overflow-y: auto;
    width: calc(100% - 250px);
    top: 80px;
    left: 0;
    z-index: 1;

}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}
